<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>Decomposition</title>
  <!--[if lt IE 9]>
  <script src=http://html5shiv.googlecode.com/svn/trunk/html5.js></script>
  <![endif]-->
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href=i/glider.ico>
  <link rel=stylesheet href=s/style.css type=text/css>
  <link rel=alternate title="Atom Feed" 
        href=/feed.atom type=application/atom+xml>
  <link rel=next href=/page3.html>
  <link rel=prev href=/page1.html>
  <link rel=license href=#LINK#>
</head>
<body>
<header>
  <object data="i/glider.svg" type="image/svg+xml" 
          height="70" width="70"></object>
  <h1>Decomposition</h1>
  <h2>A blog about me</h2>
</header>

<article>
  <header>
    <time datetime="2011-04-14T13:59:47-04:00" pubdate>14 Apr 2011</time>
    <h1>&laquo;<a href=# rel=bookmark title="link to this post"> Post Title </a>&raquo;</h1>
  </header>
  <p>Have we bored you yet with our non-stop comparisons of Thomas Jones and Jamaal Charles? Too bad, because I'm going to do it again. Charles led the league in both DYAR and DVOA, running for a near-record 6.4 yards per carry. Thomas Jones ranked 44th in DYAR and 42nd in DVOA, gaining just 3.7 yards per carry. Yet somehow, Jones actually had 15 more carries than Charles did. As an added bonus, Charles caught 45 passes for 468 yards and three touchdowns, while Jones had just 10 receptions for 122 yards and no touchdowns. Look, nobody is more cognizant of running back workload issues than we are here at Football Outsiders, but you guys can take the chains off now. Charles still has 70 carries to go just to hit 300. It is okay to give him three-quarters of the carries in the playoffs. Please, for the sake of your own fans and our sanity. Lorem ipsum dolor sit amet</p>
</article>

<p class=c>&infin;</p>

<nav>
  <ul>
    <li><time datetime="2011-04-14T13:59:47-04:00" pubdate>14 Apr 2011</time>
        <a href=#>Old post 1</a></li>
    <li><time datetime="2011-04-14T13:59:47-04:00" pubdate>14 Apr 2011</time>
        <a href=#>Old post 2</a></li>
    <li><time>&lArr;</time><a href=#>Older posts</a></li>
  </ul>
</nav>


<p class=c>&infin;</p>

<footer>
<section id="contentinfo" class="body">
  <address id="contact" class="vcard body">
    <span class="primary" name="contact">  
      <strong>
        <a href="http://seanjtaylor.com/" class="fn n url">Sean J. Taylor</a>
      </strong>
      <span class="role">Doctoral Student</span>  
      <span class="tel">215.253.8435</span><br/>
      <span class="email"><a 
class='email
 href="mailto:me"
' 
href 
			       = '
&#x20;&#x6D;&#97;il&#x74;&#111;&#58;&#x20;&#115;&#x25;&#x37;&#52;a&#x79;&#x6C;&#37;6&#x66;%&#55;&#x32;%4&#48;%&#x37;&#51;&#116;&#101;r&#x25;&#x36;&#101;&#x25;&#x32;e&#x6e;&#37;79u&#x25;&#x32;&#x65;e%6&#x34;&#x75;?
'>&#115;t&#x61;&#x79;lo&#x72;&#x40;st<!--
mailto:abuse@hotmail.com
</a>
-->&shy;&#x65;r&#110;&#46;n&#x79;&#117;&#x2E;&#x65;d&#x75;</a>
      </span>
    </span><!-- /.primary -->  

    <span class="adr">
        <span class="street-address">
          44 W 4th Street 
          <br/> 
          KMC 8-186A
        </span>
        <br />
        <span class="locality">New York</span>,  
        <abbr class="region" title="New York">NY</abbr>  
        <span class="postal-code">10012</span>
    </span>

    <p class="bio">
      I am doctoral student studying information systems at the Stern school of business in New York City.  For more information about me, see my <a href="/pages/about.html">full bio</a>. 
    </p>  

    </address><!-- /#contact --> 
    <license>
      <a id="liclink" href="http://creativecommons.org/licenses/by/3.0/" rel="license">
        <img height="31" width="88" style="border: medium none ;" alt="Creative Commons License" src="http://i.creativecommons.org/l/by/3.0/88x31.png"/>
      </a>
      <p>Except where otherwise <a href="/policies#license" class="subfoot">noted</a>, content on this site is licensed under a <a class="subfoot" href="http://creativecommons.org/licenses/by/3.0/" rel="license">Creative Commons Attribution 3.0 License</a></p>
    </license>
</section>

</footer>

</body>
</html>
